:root {
  --primary-color: #dc143c;
  --border-color: #00000060;
  --font-size: 20px;
  --box-shadow: 5px 5px 10px #f02c5380, -5px -5px 10px #f02c5380;
  --text-shadow: -1px 1px 2px #dc143c, 1px 1px 2px #dc143c, 1px -1px 0 #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MainFont";
  src: url("./media/Quicksand.otf") format("opentype");
}

body {
  background: linear-gradient(-45deg, #d0d4d5, #ffffff, #d1dae3, #ffffff);
  background-size: 600%;
  animation: bgAnimation 30s linear infinite;
}

@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html > * {
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
  font-family: "MainFont", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
}

a:hover {
  color: var(--primary-color);
}

i {
  font-style: normal;
}

nav {
  position: sticky;
  z-index: 2;
  width: 100%;
  top: 0;
  background: transparent;
  background-color: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  border-radius: 100%;
  align-self: flex-start;
}

.links {
  font-size: 2rem;
}

.links ul {
  display: flex;
  justify-content: space-between;
}

.links li {
  color: white;
}

.displayNone {
  display: none !important;
}

#loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.code-loader {
  color: var(--primary-color);
  text-align: center;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 10rem;
  opacity: 0.8;
}

.code-loader span {
  display: inline-block;
  animation: pulse_414 0.4s alternate infinite ease-in-out;
}

.code-loader span:nth-child(odd) {
  animation-delay: 0.4s;
}

@keyframes pulse_414 {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

#home {
  scroll-margin-top: 11rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#profilePhoto {
  /* width: 24%; */
  width: clamp(20%, 25%, 30%);
  border-radius: 100%;
  border: 10px solid transparent;
  border-radius: 100%;
  border-bottom-color: var(--border-color);
  overflow: hidden;
  aspect-ratio: 1/1;
  transform: skew();
}

#textContainer {
  flex: 1;
  align-self: center;
  font-size: 4rem;
  cursor: default;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#cursor {
  cursor: none;
  display: inline-block;
  pointer-events: none;
  z-index: 9999;
  margin-left: 0;
  font-size: 1rem;
  width: 1.5rem;
  height: 4rem;
}

#cursor img {
  width: 100%;
  height: 100%;
}

#socialContainer {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  flex-grow: 4;
}

#socialContainer .wrapper a {
  color: crimson;
  text-shadow: none;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  text-shadow: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 2rem;
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0077b5;
  color: #ffffff;
}

.wrapper .hackerrank:hover,
.wrapper .hackerrank:hover .tooltip,
.wrapper .hackerrank:hover .tooltip::before {
  background: #2ec866;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainContainer > div {
  padding: 5rem;
  scroll-margin-top: 11rem;
  width: 95%;
}

.mainContainer > div:nth-child(odd) {
  border-left: 4px solid var(--border-color);
  /* border-radius: 40px 0px 0px 40px; */
  border-bottom: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  /* box-shadow: var(--box-shadow); */
  width: 80%;
}

.mainContainer > div:nth-child(even) {
  border-right: 4px solid var(--border-color);
  /* border-radius: 0px 40px 40px 0px; */
  border-bottom: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  /* box-shadow: var(--box-shadow); */
  width: 80%;
}

.mainContainer > div:nth-child(1) {
  box-shadow: none;
  border-top: none;
  align-self: flex-end;
}

h1 {
  text-align: center;
  font-size: 5rem;
}
